@charset "UTF-8";

/* PALVOKAAMME TIIAA, JOKA ON KOULUSSA PERJANTAI AAMUNA, JOKA KOODAA KUIN HUOMISTA EI OLISI, JOKA ON TARPONUT LÄPI LUMEN JA PAKKASEN, JOKA EI PELKÄÄ EDES MÖRKÖJÄ. */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  background-color: #8CD0D0;
  color: black;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative; 
}

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.6875rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit; }

strong,
b {
  font-weight: bold;
  line-height: inherit; }

small {
  font-size: 60%;
  line-height: inherit; }


/* Koitan tehdä palikkarakennetta */

aside { 

    float: right;
    width: 10%;
    padding: 1rem;
    margin: 1rem;
}

header {
  width: 100%; 
}

main {
  margin: 2rem auto;
  padding: 0.1rem;
  max-width: 62.5rem;
  width: 100%; 
  background-color: #BADBDB;
}

section {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 62.5rem;
  width: 90%; 
  text-align: center;
}

form {
  font: sans-serif;
}

footer {
  color: black;
}

/*
.valikko {
  margin: 2rem auto;
  padding: 0.1rem;
  max-width: 62.5rem;
  width: 90%; 
  background-color: #BADBDB;}

.sivu {
  margin: 2rem auto;
  padding: 0.1rem;
  max-width: 62.5rem;
  width: 90%; 
  background-color: #BADBDB; }
*/

/* floattaavan navigaation taikaa */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center center;
    vertical-align: center;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.profile{
    float: left; 
}

aside{
    float: right;
}

section div {
  padding: 1rem;
  max-width: 62.5rem;
  width: 100%; 
  text-align: left;
}

.uploadnew:hover{
    content: url(img/addImg.jpg); /* no need for qoutes */
}

#photo {
   background-image: url('img/tiia.png');
   height: 120px;
   width: 120px;
}

#photo:hover {
   background-image: url('img/tiia.png');
}